@model IEnumerable<SistemaGestorRecursosHumanos.Models.cargos>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.codigoCargo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cargo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.codigoCargo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cargo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_cargos }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_cargos }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_cargos })
        </td>
    </tr>
}

</table>
