@model SistemaGestorRecursosHumanos.Models.vacaciones

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>vacaciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.desde)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desde)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hasta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hasta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.año)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.año)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.comentario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.comentario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleados.codigoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados.codigoEmpleado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_vacaciones }) |
    @Html.ActionLink("Back to List", "Index")
</p>
