
@{
    ViewBag.Title = "informes";
}

<h2>informes</h2>

<div class="container">
    <div class="row">
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Informe de nomina", "index", "nominas", null, new { @class = "btn btn-primary btn-large" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Informe de empleados", "index", "empleados", null, new { @class = "btn btn-primary btn-large" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Informe de departamentos", "index", "departamentos", null, new { @class = "btn btn-primary btn-large" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Informe de cargos", "index", "cargos", null, new { @class = "btn btn-primary btn-large" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Informe de Entrada de empleados", "index", "entradaEmpleados", null, new { @class = "btn btn-primary btn-large" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Informe de salida de empleados", "index", "salidaEmpleados", null, new { @class = "btn btn-primary btn-large" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Informe de Vacaciones ", "index", "vacaciones", null, new { @class = "btn btn-primary btn-large" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Informe de permisos", "index", "permisos", null, new { @class = "btn btn-primary btn-large" })
        </div>
    </div>
</div>