
@{
    ViewBag.Title = "informes";
}

<div class="container">

    <h2>Modulo de Informes</h2>
    <div class="row">
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Ver nomina", "index", "nominas", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Ver Permisos", "index", "permisos", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Empleados Activos", "informes", "Home", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Empleados Inactivos", "informes", "Home", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Ver Departamentos", "index", "departamentos", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Ver Cargos", "index", "cargos", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Salida de Empleados", "index", "salidaEmpleadoes", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Entrada de Empleados", "index", "entradaEmpleados", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Ver Vacaciones", "index", "vacaciones", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>
<h2>informes</h2>

