
@{
    ViewBag.Title = "mantenimiento";
}


<div class="container">

    <h2>Modulo de mantenimiento</h2>
    <div class="row">
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Ver Empleados", "index", "empleados", new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Agregar Empleado", "create", "empleados", new { @class = "btn btn-primary" })
        </div>

        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Ver Departamentos", "index", "departamentos", new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Agregar Departamento", "create", "departamentos", new { @class = "btn btn-primary" })
        </div>

        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Ver Cargos", "index", "cargos", new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Agregar Cargo", "create", "cargos", new { @class = "btn btn-primary" })
        </div>
    </div>
</div>