
@{
    ViewBag.Title = "procesos";
}

<h2>procesos</h2>

<div class="container">

    <h2>Modulo procesos</h2>
    <div class="row">
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Ver calculo nomina", "index", "nominas", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Dar salida a empleado", "create", "salidaEmpleadoes", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Dar permisos", "create", "permisos", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Ver permisos", "index", "permisos", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Dar vacaciones", "create", "vacaciones", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Ver vacaciones", "index", "vacaciones", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Dar licencia", "create", "licencias", null, new { @class = "btn btn-primary" })
        </div>
        <div class="col-md-5" style="margin-bottom: 20px">
            @Html.ActionLink("Ver licencias", "index", "licencias", null, new { @class = "btn btn-primary" })
        </div>
    </div>
</div>