@model IEnumerable<SistemaGestorRecursosHumanos.Models.permisos>

@{
    ViewBag.Title = "Permisosx";
}

<h2>Permisosx</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<form action="Permisos" method="post">
    <div class="form-actions no-color d-flex justify-content-between" style=" border:solid; border-radius:5px; border-width:2px; padding:0.6px">
        <input type="date" name="fecha" value="" class="form-control" placeholder="Buscar por fecha...">
        <input type="submit" value="Buscar" class="btn btn-outline-success form-control" />
    </div>
</form>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.desde)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.hasta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.empleados.codigoEmpleado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desde)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.hasta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.empleados.codigoEmpleado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_permiso }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_permiso }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_permiso })
        </td>
    </tr>
}

</table>
