@model SistemaGestorRecursosHumanos.Models.salidaEmpleado

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>salidaEmpleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tipoSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.motivo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.motivo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaSalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaSalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.empleados.codigoEmpleado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.empleados.codigoEmpleado)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_salida }) |
    @Html.ActionLink("Back to List", "Index")
</p>
